<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Simon's <%= title %></p>
    <ul>
      <li>
        <p><a href="<%= doc1Url %>">Document 1</a></p>
      </li>
      <li>
        <p><a href="<%= doc2Url %>">Document 2</a></p>
      </li>
      <li>
        <p><a href="<%= doc3Url %>">Document 3</a></p>
      </li>
    </ul>
    <a href="/">Back to home</a>
  </body>
</html>
